p {
    font-size: 50px;
}

body {
    /* background-color: antiquewhite; */
    background-image: url("../img/gradient.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    /* height: 100vh; 
    width: 100%;  */
    object-fit: cover;
}

h1 {
    border-style: dashed;
    /* border-style: none;
    border-style: dotted;
    border-style: solid;
    border-style: double;
    border-style: groove;
    border-style: ridge;
    border-style: inset;
    border-style: outset;
    border-style: hidden; */
}

.my-div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 20px 0px 20px 0px; /* TOP LEFT, TOP RIGHT, BOTTOM RIGHT, BOTTOM LEFT */
}

p{
    display: block;
    /* display: inline; */
    /* display: run-in; */
    /* display: none; */
    /* display: inline-block; */
}
.img-float{
    /* float: left; */
    float: right;
    /* float: initial; */
    /* float: inherit; */
    width: 30%;
}

.font-p{
    font-size: 60px ;
    font-weight: 900 ;
    font-variant: small-caps;
    color: brown;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    background-color: brown;
    border-radius: 6px;
    color: #fff;
    padding: 30px;
}

.btn:hover{
    background-color: green;
}

.line-ht{
    line-height:150%;
    margin: 50px; /* (4) -> Top, Right, Bottom, Left | (2) -> (Top+Bottom),(Left+Right) */
}

.img-filter{
    /* filter: brightness(150%); */
    /* filter: blur(500px); */
    /* filter: invert(10); */
    /* filter: contrast(110%); */
    /* filter: opacity(40%); */
    /* filter: hue-rotate(200deg); */
    /* filter: grayscale(100%); */
    filter: sepia(100%);
}

.p-overflow{
    font-size: 15px;
    height: 300px;
    width: 300px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    overflow-x: auto;
    overflow-y: auto;
}

.position-p{
    position: fixed;
    /* position: relative; */
    /* position: absolute; */
    left: 20px;
    top: 20px;
}

.word-wrap-p{
    width: 50px;
    border: 1px solid red;
    font-size: 15px;
    word-wrap: break-word;
}

.justify-content-div{
    display: flex;
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: center;

    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration: underline overline line-through; */

    /* letter-spacing: normal; */
    letter-spacing: 20px;

    /* word-spacing: normal; */
    word-spacing: 30px;
}

:root{
    --bg-color: lightgreen;
    --text-color: red
}

.p-var{
    background-color: var(--bg-color);
    color:  var(--text-color);
}